<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Project Giphy</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
    <style>
      .grid-item img { width: 200px; }
      .grid-item--width2 img { width: 400px; }

    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Project Giphy</a>
      <input id="search" class="form-control form-control-dark w-100" type="text" placeholder="Search Giphy" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{{url_for('logout')}}">
              <img src="{{ picture }}" width="30" height="30" alt="">
              Sign out
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Search Giphy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  My Giphys
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Tags
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
          </div>
          <div class="container-fluid">
              <!-- add extra container element for Masonry -->
              <div class="grid" id="grid">
                  <div class="grid-item"></div>
                  <div class="grid-item grid-item--width2"></div>
                  <div class="grid-item"></div>
                </div>

            </div>
          </main>
        </div>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/masonry.pkgd.min.js')}}"></script>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script>

        var $grid = $('.grid').masonry({
          itemSelector: '.grid-item',
          columnWidth: 200,
          percentPosition: true
        });

        function search_giphy(search_string){
          var newURL = window.location.protocol + "//" + window.location.host + "/api/v1/giphy/search/" + search_string;
          console.log('url: ' + newURL);
          jQuery.ajax({
              dataType: "json",
              url: newURL,
              data: "",
              success: function(data){
                var output = JSON.parse(JSON.stringify(data))
                $grid.masonry('remove', $grid.find('.grid-item')).masonry('layout');
                $.each(output, function(key, val){
                  var $giphy_id = key;
                  if (typeof val === 'object'){
                    $.each(JSON.parse(JSON.stringify(val)), function(k, v){
                      if (k === 'preview'){
                        var imgsrc = '<img src="' + v + '">';
                        var newimage = '<div class="grid-item">' + imgsrc + '</div>';
                        $grid.append( newimage ).masonry('appended', newimage)
                      }
                    });
                  }
                });
                return false;}
              })
              $grid.masonry('reloadItems').masonry('layout')
              };

        $("#search").keypress(function(e){
          if (e.which == 13){
            var textbox = $(this).val()
            search_giphy(textbox);
            $grid.imagesLoaded(function (){
              $grid.masonry('reloadItems');
            })
            return false;
          }
        })
    </script>
  </body>
</html>